.button {
	font-weight: 700;
	border: 0;
	border-radius: 3em;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
}

.primary {
	color: var(--reset-css-accent-text);
	background-color: var(--reset-css-accent-primary);
	&:hover {
		background-color: var(--reset-css-accent-secondary);
	}
}

.secondary {
	color: var(--reset-css-foreground-primary);
	background-color: transparent;
	box-shadow: var(--reset-css-foreground-primary) 0px 0px 0px 1px inset;
	&:hover {
		background-color: transparent;
	}
}

.small {
	font-size: 12px;
	padding: 10px 16px;
}

.medium {
	font-size: 14px;
	padding: 11px 20px;
}

.large {
	font-size: 16px;
	padding: 12px 24px;
}
